<header>
  <div class="header">
    <p class="header--logo">S</p>
    <h1 class="header--nombre">Shopéame!</h1>
  </div>
  <nav class="navbar">
    <div>
         <a class="navbar--boton" routerLink="/home">
        <img src="https://img.icons8.com/ios-filled/50/null/nuclear.png" alt="Home" (click)="showMain"> Home
        </a>
    </div>
    <div>
        <a class="navbar--boton" routerLink="/prods">
       <img src="https://img.icons8.com/material-sharp/24/null/binoculars--v1.png" alt="prismaticos" (click)="showMain = false; showMain = !showMain"> Prods.</a>
    </div>
    <div>
        <a class="navbar--boton" routerLink="/gestion">
       <img src="https://img.icons8.com/ios-glyphs/30/000000/ship-wheel.png" alt="timon"> Gestión</a>
    </div>
    
  </nav>
</header>