<footer>
    <div class="lista">
        <p class="lista--titulo">Siguenos en:</p>
        <ul class="social">
        <li class="social--lista"><a href="https://www.twitter.com">Twitter</a></li>|
        <li class="social--lista"><a href="https://www.facebook.com">Facebook</a></li>|
        <li class="social--lista"><a href="https://www.instagram.com">Instagram</a></li>|
        <li class="social--lista"><a href="https://www.tiktok.com">TikTok</a></li>
    </ul>
        <p class="lista--titulo">Copyright Shopéame © 2023</p>
    </div>
</footer>