<main>
    <div>
        <div class="info">
            <div>
                <h3 class="info--titulo">Bienvenido a <i>Shopéame</i></h3>
            </div>
            <div class="info--pregunta">
                <h4>¿Qué es <i>Shopéame</i>?</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis aperiam quia, molestias beatae expedita, minus illum eaque hic, maiores atque ratione magnam aliquid similique itaque eveniet laboriosam praesentium dicta quam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit iste laborum pariatur odit ea omnis suscipit nobis, molestiae totam nisi quae et sapiente commodi voluptas? Ab minima labore expedita ipsa. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus debitis obcaecati neque possimus impedit corporis omnis? Quam, consequatur explicabo ea incidunt doloremque veritatis iste voluptatem repudiandae, nulla iure aliquam fuga?</p>
            </div>
            <div>
                <h4 class="info--pregunta">¿Para qué puedo usar <i>Shopéame</i>?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima autem perferendis in possimus commodi alias, dolore deserunt ipsum neque iure iusto soluta odit eveniet, cum fuga fugiat beatae repellendus? Est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure asperiores rem esse vel rerum est laudantium amet ab maiores consequuntur quas reprehenderit, dolor fugiat eveniet officiis doloremque commodi reiciendis officia? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus debitis obcaecati neque possimus impedit corporis omnis? Quam, consequatur explicabo ea incidunt doloremque veritatis iste voluptatem repudiandae, nulla iure aliquam fuga?</p>
            </div>
            <div>
                <h4 class="info--pregunta">¿Quienes hacemos <i>Shopéame</i>?</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores nesciunt necessitatibus voluptas in consectetur, quidem odit, inventore itaque, blanditiis ut voluptatem doloremque praesentium alias? Similique laboriosam debitis vel repudiandae porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eum a exercitationem hic ipsum perferendis expedita eligendi veritatis, provident natus aliquam soluta accusantium impedit consequatur quae magni adipisci voluptatibus fuga! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus debitis obcaecati neque possimus impedit corporis omnis? Quam, consequatur explicabo ea incidunt doloremque veritatis iste voluptatem repudiandae, nulla iure aliquam fuga?</p>
            </div>
            <div>
                <h4 class="info--pregunta">¿Es seguro usar <i>Shopéame</i>?</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam harum soluta alias pariatur labore reiciendis consectetur iste inventore ducimus esse facere nihil, sequi quos ad deleniti animi vel consequuntur dolores! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aliquam, repellendus sed neque quod enim maxime recusandae. Dolorum molestias minus quas. Rerum assumenda quas ad omnis iusto harum iste placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus debitis obcaecati neque possimus impedit corporis omnis? Quam, consequatur explicabo ea incidunt doloremque veritatis iste voluptatem repudiandae, nulla iure aliquam fuga?</p>
            </div>
        </div>
    </div>
</main>

